*~
*.o
*.a
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
*.lo
*.la
stamp-h1
*.pyc
*.pc
build
Footer
*.log
*.trs
lib*.a
src/main
tests/check_binary_search_tree
tests/check_avl_tree
compile
ar-lib
ltmain.sh
test-driver
.vscode
README.md
